---
import Layout from "../layouts/Layout.astro";
import InfoCard from "../components/InfoCard.svelte";
---

<Layout
  title="YOUTUBE VANCED 2026 FAQ - Youtube Vanced Official"
  description="Youtube Vanced 2026 FAQ - Is Vanced safe? Do I need MicroG? Get answers to common questions about downloading and installing Youtube Vanced APK."
  currentPath="/faq"
>
  <h2 class="page-title">Frequently Asked Questions</h2>
  <div class="box-shadow-full">
    <InfoCard title="What is ReVanced?">
      ReVanced is the spiritual successor to Vanced. It is a continuation of the
      legacy to provide an ad-free YouTube experience.
    </InfoCard>
    <InfoCard title="Is it safe?">
      Yes, ReVanced is generally considered safe as it is open-source and built
      by the community. However, always download from official sources.
    </InfoCard>
    <InfoCard title="Do I need MicroG?">
      Yes, if you are installing YouTube Vanced manually, you need MicroG
      installed and logged in to sign in to your Google account.
    </InfoCard>
  </div>
</Layout>
