---
import Layout from '../layouts/Layout.astro';
import DownloadButton from '../components/DownloadButton.svelte';
---

<Layout currentPath="/">
    <header class="hero">
        <div class="hero-image-container">
            <img src="https://z-cdn-media.chatglm.cn/files/5bc34a1e-3cda-4e4e-9b2e-959896e37f6e.png?auth_key=1867682405-699242e788e44eb7bc92e0a1043e4e0a-0-3897d7359491972e15c2e95ae1ae446a" alt="Vanced Play Icon">
        </div>
        <h1 class="hero-title">Enjoy Unlimited YT<br>videos without Ads!</h1>
        <p class="hero-subtitle">Continuing the legacy of the best YouTube experience.</p>
    </header>

    <div class="box-shadow-full">
        <p class="d-description text-center">Continuing the legacy of <span class="vanced--gradient">Vanced</span></p>
        <p class="d-description text-center">Download Revanced manager then install according to the instructions in the app</p>
        <p class="d-description text-center">You can also download and install it manually</p>
        
        <div class="button-group text-center">
            <DownloadButton 
                href="https://github.com/vancedapps/vanced.to/releases/download/2025-51/vanced.to_revanced_manager_plus_v3.0.22.apk"
                label="Revanced Manager (3.0.22)"
                variant="primary"
            />
            
            <br/>
            <p class="d-description text-center my-1">Need offline version without Vanced Manager?</p>

            <DownloadButton 
                href="https://github.com/vancedapps/vanced.to/releases/download/2025-24/vanced.to_vanced_gms_microg_v0.3.1.4.240913.apk"
                label="microG APK (0.3.1.4.240913)"
                sublabel="Arch: All"
            />

            <DownloadButton 
                href="https://github.com/vancedapps/vanced.to/releases/download/2026-2/vanced.to_vanced_youtube_v20.14.43_cli5.0.2.2_p5.48.0.8.apk"
                label="Youtube Vanced APK (20.14.43)"
                sublabel="Arch: All"
            />

            <DownloadButton 
                href="https://github.com/vancedapps/vanced.to/releases/download/2025-37/vanced.to_vanced_youtube_music_arm64_v8a_v8.36.51_cli5.0.2.2_p5.36.0.1.apk"
                label="Youtube Music Vanced APK (8.36.51)"
                sublabel="Arch: arm64"
            />

            <DownloadButton 
                href="https://github.com/vancedapps/vanced.to/releases/download/2025-37/vanced.to_vanced_youtube_music_armeabi_v7a_v8.36.51_cli5.0.2.2_p5.36.0.1.apk"
                label="Youtube Music Vanced APK (8.36.51)"
                sublabel="Arch: armeabi"
            />
        </div>
        <p class="d-description text-center" style="margin-top: 20px;">Looking for <a href="/archive" style="text-decoration: underline;"><i>older versions?</i></a></p>
    </div>
</Layout>
